<!DOCTYPE html>
<html>
    <head>
        <title>Links - Página 01</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Página 01</h1>
        </div>
        <ul>
            <li><a href="{% url 'links.views.index' %}">Index</a></li>
            <li><a href="{% url 'links.views.pagina01' %}">Página 01</a></li>
            <li><a href="{% url 'links.views.pagina02' %}">Página 02</a></li>
        </ul>
    </body>
</html>
