<!DOCTYPE html>
<html>
    <head>
        <title>14. Django Forms: Textbox</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="float:left; width:400px">
            <form action="{% url 'views.enviar' %}" method="POST" >
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar</button>
            </form>
        </div>
        <div style="float:left; width:400px">
            {% if listar_text %}
                {% for text in listar_text %}
                    <b>Nome: </b> {{ text.nome }}<br>
                    <b>E-mail: </b> {{text.email}}<br>
                    <b>Url: </b> {{text.url}}<br>
                    <b>Data: </b> {{text.data}}<br>
                    <b>Valor: </b> {{text.valor}}<br>
                    <b>Número: </b> {{text.numero}}<br>
                    <b>Mensagem: </b> {{text.mensagem}}<br>
                    <b>Senha: </b> {{text.senha}}<br><br>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
