<!DOCTYPE html>
<html>
    <head>
        <title>11. Listar Itens do Array</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Listar itens do Array</h1>
        
        Mostrar dados da lista = {'key1': 'Reposta 01', 'key2': 'Reposta 02', 'key3': 'Reposta 03', 'key4': 'Reposta 04'} 
        
        <h3>Valor da key2:</h3>
        
        <p>No Template adicione:</p>
        <code>&#123;&#123; dados.key2 &#125;&#125;</code>
        
        <p>Retorna: </p>
        {{ dados.key2 }}
        
        <br><br>
        
        <h3>Exibir todos os valores</h3>
        
        <p>No Template adicione:</p>
        <code>
            &#123;% for key, value in dados.items %&#125;<br>
                Key: &#123;&#123; key &#125;&#125;<br>
                Valor: &#123;&#123; value &#125;&#125;<br>
            &#123;% endfor %&#125;<br>
        </code>
        
        <p>Retorna: </p>
        {% for key, value in dados.items %}
            Key: {{ key }}<br>
            Valor: {{ value }}<br><br>
        {% endfor %}
    </body>
</html>
