<!DOCTYPE html>
<html>
    <head>
        <title>07. Models</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Model e Formulário</h1>
        <p>Enviando dados do formulário para o Banco de dados através do Model.</p>
        <p>Formulário gerado manualmente em HTML com input do tipo 'TEXT' e 'TEXTAREA'.</p>
        
        <fieldset style="float:left; width:400px">
            <legend>Formulário Simples</legend>
            {% if sucess %}
                <strong>{{ sucess }}</strong>
            {% endif %}
            <form action="{% url 'd07_models.views.enviar' %}" method="POST">
                {% csrf_token %}
                <label for='titulo'>Título: </label><br>
                <input type='text' id='titulo' name='titulo' placeholder="Titulo"/><br>
                <label for='conteudo'>Conteúdo: </label><br>
                <textarea id='conteudo' name='conteudo' placeholder="Insira o texto aqui..."></textarea><br>
                <input type="submit" id='enviar' name='enviar' value='Enviar'><br>
            </form>
        </fieldset>
        
        <div style="float:left; width:400px">
            {% if listar_posts %}
                {% for post in listar_posts %}
                    <b>Título: </b> {{ post.titulo }}<br>
                    <b>Data: </b> {{post.data}}<br><br>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
