<!DOCTYPE html>
<html>
    <head>
        <title>Checkbox</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Checkbox</h1>
        <p></p>
        <fieldset style="width:400px;">
            <legend>Assinatura</legend>
            <form action="{% url 'enviar' %}" method="POST">
                {% csrf_token %}
                <label for="email">E-mail:</label>
                <input type="email" name="email" id="email"/><br/>
                <input type='checkbox' name='assina' id='assina' value='Desejo receber e-mail'/>
                <label for='assina'>Desejo receber os e-mails</label><br/>
                <input type="submit" id='enviar' name='enviar' value='Enviar'/><br/>
            </form>
        </fieldset>
        
        {% if listar_checkboxes %}
            {% for check in listar_checkboxes %}
                <b>E-mail: </b> {{ check.email }}<br>
                <b>Assina: </b> {{ check.assina }}<br><br>
            {% endfor %}
        {% endif %}
                
           
        
    </body>
</html>
