{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Ajax Form - Exemplo 01</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- JQuery -->
        <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
        
        <script type="text/javascript" src="{% static 'js/script_01.js' %}"></script>
    </head>
    <body>
        <h1>Exemplo 01</h1>
        <a href="{% url 'index_exemplo_01' %}">Exemplo 01</a>
        <form>
            <div>
                <label for="estado">Estado</label>
                <select name="estado" id="estado">
                    <option value="">Selecione...</option>
                    <option value="MG">Minas Gerais</option>
                    <option value="RJ">Rio de Janeiro</option>
                    <option value="SP">São Paulo</option>
                </select>
            </div>
            <div>
              <label for="cidade">Cidade</label>
              <select name="cidade" id="cidade">
                <option value="">Selecione...</option>
              </select>
            </div>
        </form>
    </body>
</html>
