<!DOCTYPE html>
<html>
    <head>
        <title>Manipulação de Arquivos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Manipulando arquivos</h1>
        <h2>Deletar arquivo</h2>
        <form action="{% url 'deletar_arquivo' %}" method="POST">
            {% csrf_token %}
            <select name='nome' id='nome'>
               {{html}} 
            </select><br/>
            <input type="submit" id='enviar' name='enviar' value='Enviar'><br>
        </form>
        
        <p><a href="{% url 'index' %}">Voltar</a></p>
    </body>
</html>
