<!DOCTYPE html>
<html>
    <head>
        <title>Manipulação de Arquivos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Manipulando arquivos</h1>
        <h2>Editar arquivo</h2>
        <form action="{% url 'ler_arquivo' tipo='edicao' %}" method="POST">
            {% csrf_token %}
            <select name='nome' id='nome'>
               {{html}} 
            </select>
            <input type="submit" id='enviar' name='enviar' value='Enviar'><br><br>
        </form>
        <form action="{% url 'salvar_arquivo' tipo='edicao' %}" method="POST">
            {% csrf_token %}
            <label for="nome">Nome do Arquivo: </label><br>
            <input type="text" id="nome" name="nome" value="{{nome_arquivo}}" readonly/><br>
            <label for="conteudo">Conteúdo do arquivo: </label><br>
            <textarea id="conteudo" name="conteudo">{{editar}}</textarea><br>
            <input type="submit" id='enviar' name='enviar' value='Enviar'><br>
        </form>
        <p><a href="{% url 'index' %}">Voltar</a></p>
    </body>
</html>
