<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Manipulando arquivos</h1>
        <h2>Criando arquivo</h2>
        <form action="{% url 'criar_arquivo' %}" method="POST" name="criar_arquivo">
            {% csrf_token %}
            <label for="nome">Nome do Arquivo: </label><br>
            <input type="text" id="nome" name="nome"/><br>
            <label for="conteudo">Conteúdo do arquivo: </label><br>
            <textarea id="conteudo" name="conteudo"></textarea><br>
            
            <input type="submit" value="Enviar">
        </form>
        
        <h2>Ler conteúdo do arquivo</h2>
        <form action="{% url 'ler_arquivo' tipo='leitura' %}" method="POST">
            {% csrf_token %}
            <select name='nome' id='nome'>
               {{html}} 
            </select><br/>
            <input type="submit" id='enviar' name='enviar' value='Enviar'><br>
        </form>
            
        <h2>Editar arquivo</h2>
        <form action="{% url 'ler_arquivo' tipo='edicao' %}" method="POST">
            {% csrf_token %}
            <select name='nome' id='nome'>
               {{html}} 
            </select>
            <input type="submit" id='enviar' name='enviar' value='Enviar'><br><br>
        </form>
        <form action="{% url 'salvar_arquivo' tipo='edicao' %}" method="POST">
            {% csrf_token %}
            <label for="nome">Nome do Arquivo: </label><br>
            <input type="text" id="nome" name="nome" value="{{nome_arquivo}}" readonly/><br>
            <label for="conteudo">Conteúdo do arquivo: </label><br>
            <textarea id="conteudo" name="conteudo">{{editar}}</textarea><br>
            <input type="submit" id='enviar' name='enviar' value='Enviar'><br>
        </form>
        
        <h2>Adicionando conteúdo no arquivo</h2>
        <form action="{% url 'ler_arquivo' tipo='adicao' %}" method="POST">
            {% csrf_token %}
            <select name='nome' id='nome'>
               {{html}} 
            </select><br/>
            <input type="submit" id='enviar' name='enviar' value='Enviar'><br>
        </form>
        <form action="{% url 'salvar_arquivo' tipo='adicao' %}" method="POST">
            {% csrf_token %}
            <label for="nome">Nome do Arquivo: </label><br>
            <input type="text" id="nome" name="nome" value="{{nome_atual}}" readonly/><br>
            <label for="conteudo">Conteúdo do arquivo: </label><br>
            <textarea id="conteudo" name="conteudo">{{editar}}</textarea><br>
            <input type="submit" id='enviar' name='enviar' value='Enviar'><br>
        </form>
    </body>
</html>
