{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Multi Javascript</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!-- JQuery compartilhado para todas as aplicações do projeto e em outros projetos do Apache-->
        <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
        
        <!-- Javascript compartilhado para todas as aplicações do projeto e em outros projetos do Apache -->
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <!-- CSS compartilhado para todas as aplicações do projeto e em outros projetos do Apache -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
        
        <!-- Javascript compartilhado entre todas as aplicações do projeto Multi Javascript-->
        <script type="text/javascript" src="{% static 'multi_javascript/js/script_mj.js' %}"></script>
        <script type="text/javascript" src="{% static 'multi_javascript/js/jquery.mask.min.js' %}"></script>
        <!-- CSS compartilhado entre todas as aplicações do projeto -->
        <link rel="stylesheet" type="text/css" href="{% static 'multi_javascript/css/style_mj.css' %}"/>
        
    </head>
    <body onload="startTime()">
        <img src="{% static 'imagem/logo.png' %}" alt='logo' title='DOM'/>
        <a href="{% url 'index' %}">Index</a> | 
        <a href="{% url 'pagina' %}">Pagina Extra</a> | 
        
        <a href="{% url 'javascript01:index' %}">JavaScript 01</a> | 
        <a href="{% url 'javascript02:index' %}">JavaScript 02</a> | 
        <a href="{% url 'javascript03:index' %}">JavaScript 03</a> 
        <h1>Hello World</h1>
        
        <p>O script da Hora Atual está na pasta `static/js`</p>
        <p>Hora atual <span id="txt"></span></p>
        
        <p>O script do JQueryMask está na pasta `static/multi_javasrcipt/js`</p>
        CNPJ: <input  selected ="selected" type="radio" name="selecao" value="cnpj" class="selecao">
        CPF: <input type="radio" name="selecao" value="cpf" class="selecao"></br>
        <div id="localCampo">
            <input type="text" class="cnpj" name="cnpj">
        </div>
    </body>
</html>
