<!DOCTYPE html>
<html>
    <head>
        <title>02. Local Flavor: Funções de validação de formulário</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <form method="POST" action="{% url 'views.enviar' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar</button>
            </form>
        </div>
        <div>
            {% if listar %}
                {% for list in listar %}
                    <b>Nome: </b> {{ list.nome }}<br><br>
                    <b>CEP: </b> {{ list.cep }}<br><br>
                    <b>Tel: </b> {{ list.tel }}<br><br>
                    <b>CPF: </b> {{ list.cpf }}<br><br>
                    <b>CNPJ: </b> {{ list.cnpj }}<br><br><br/>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
