<!DOCTYPE html>
<html>
    <head>
        <title>Django Forms: Auto Validar Formulário</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Lista</h1>
            {% if listar %}
                {% for list in listar %}
                <div style='border-bottom: 1px solid #000'>
                    <p>Nome: {{list.nome}}</p>
                    <p>CPF: {{list.cpf}}</p>
                    <p>Sexo: {{list.sexo}}</p>
                    <p>E-mail: {{list.email}}</p>
                    <p>Telefone: ({{list.ddd}}) {{list.telefone}}</p><br/>
                </div>
                {% endfor %}
            {% endif %}
            <a href="{% url 'views.index' %}">Voltar</a>
        </div>
    </body>
</html>
