<!DOCTYPE html>
<html>
    <head>
        <title>Django Forms: Pesonalizando a validação do formulário</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            div span{
                color:#F00;
            }
            ul{
                display:inline;
            }
        </style>
    </head>
    <body>
        <form method="POST">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Save</button>
        </form>
    </body>
</html>
