<!DOCTYPE html>
<html>
    <head>
        <title>Django Forms: Combobox Multi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Django Forms: Combobox Multi</h1>
        <p></p>
        <fieldset style="width:250px;">
            <form method="POST" action="{% url 'views.enviar' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar</button>
            </form>
        </fieldset>
        <br/>
        <div>
            {% if listar_select %}
                {% for select in listar_select %}
                    <b>Tipo: </b> {{ select.tipo }}<br><br>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
