<!DOCTYPE html>
<html>
    <head>
        <title>Testando Models no Shell</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        {% for contato in contatos %}
            <table border="1">
                <tr>
                    <td>{{contato.nome}}</td>
                    <td>{{contato.email}}</td>
                    <td>{{contato.data}}</td>
                    <td>{{contato.mensagem}}</td>
                </tr>
            </table>
        {% empty%}
            <p>Lista vazia!</p>
        {% endfor %}
    </body>
</html>
