<!DOCTYPE html>
<html>
    <head>
        <title>Django Forms: Exemplo completo da validação personalizada</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            div span{
                color:#F00;
            }
            ul{
                display:inline;
            }
        </style>
    </head>
    <body>
        <form method="POST">{% csrf_token %}
            {% if form.non_field_errors %}
                <div class="form_errors">
                    {% for error in form.non_field_errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            
            <div>
                {% for field in form %}
                    <div id="{{ field.auto_id }}_container">
                        {{ field.help_text }}
                        <div>
                            {{ field.label_tag }}
                        </div>
                        <div id="{{ field.auto_id }}_errors">
                            {{ field }}
                            {% for error in field.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                <div class="content">
                    <button type="submit" class="save btn btn-default">Save</button>
                </div>
            </div>
        </form>
    </body>
</html>
