<!DOCTYPE html>
<html>
    <head>
        <title>Django Forms: Exemplo completo da validação personalizada</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            div span{
                color:#F00;
            }
            ul{
                display:inline;
            }
        </style>
    </head>
    <body>
        <div>
            <h1>Lista</h1>
            {% if listar %}
                {% for list in listar %}
                <div style='border-bottom: 1px solid #000'>
                    <p>Nome: {{list.nome}}</p>
                    <p>CPF: {{list.cpf}}</p>
                    <p>Preenchido: {{list.preenchido}}</p>
                    <p>Nascimento: {{list.nasc}}</p>
                    <p>Sexo: {{list.sexo}}</p>
                    <p>E-mail: {{list.email}}</p>
                    <p>Telefone: ({{list.ddd}}) {{list.telefone}}</p>
                    <p>Endereço: {{list.end}}</p>
                    <p>Bairro: {{list.bairro}}</p>
                    <p>Cidade: {{list.cidade}}</p>
                    <p>Estado: {{list.estado}}</p>
                    <p>CEP: {{list.cep}}</p>
                    <p>Respostas: {{list.resp}}</p><br/>
                </div>
                {% endfor %}
            {% endif %}
            <a href="{% url 'views.index' %}">Voltar</a>
        </div>
    </body>
</html>
