<!DOCTYPE html>
<html>
    <head>
        <title>22. Django Forms: Listar Estados Automaticamente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div style="float:left; width:400px">
            <form method="POST" action="{% url 'views.enviar' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar</button>
            </form>
        </div>
        <div style="float:left; width:400px">
            {% if listar %}
                {% for list in listar %}
                    <b>Estado: </b> {{ list.estado }}<br><br>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
