{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Filtros e ordenação</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/conf_csrf.js' %}"></script>
    </head>
    <body>
        {% block conteudo %}
        {% endblock %}
    </body>
</html>
