h1{
    color: #FF0;
    text-shadow: 5px 5px 5px #CCC;
}

img{
    width:200px;
}
body {
    font-family:Trebuchet MS;
    font-size:14px;
}
.navegador {
    width:140px;
    border:1px dashed;
    background-color:#E6E6FA;
    padding: 4px 4px;
}
.codigo {
    width:260px;
    border:1px dashed;
    background-color:#E6E6FA;
    padding: 4px 4px;
}