<!DOCTYPE html>
<html>
    <head>
        <title>Paginação Django</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Posts</h1>
        {% for post in posts %}
            {{ post.titulo|upper }}<br>
            {{ post.conteudo }}<br><br>
        {% endfor %}
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">Anterior</a>
                {% endif %}

                <span class="current">
                    Pagina {{ posts.number }} de {{ posts.paginator.num_pages }}.
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Próximo</a>
                {% endif %}
            </span>
        </div>
        <br>
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}"><<</a>
                {% endif %}

                <span class="current">
                    {% for page in posts.paginator.page_range %}
                        {% if page == posts.number %}
                            {{page}}
                        {% else %}
                            <a href="?page={{ page }}">{{page}}</a>
                        {% endif %}
                    {% endfor %}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">>></a>
                {% endif %}
            </span>
        </div>
    </body>
</html>
