<!DOCTYPE html>
<html>
    <head>
        <title>checkbox</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p><a href="{% url 'checkbox:index' %}">Adicionar</a> | <a href="{% url 'checkbox:listar' %}">Listar</a> | </p>
        <h1>Listando as alternativas</h1>
        {% for transporte in transportes %}
            <p><strong><a href="{% url 'checkbox:ver-alternativas' transporte.id %}">ID</a>: </strong>{{transporte.id}} / 
                <strong>Carro: </strong>{{transporte.carro}} / 
                <strong>Moto: </strong>{{transporte.moto}} /
                <strong>Ônibus: </strong>{{transporte.onibus}} /
                <strong>Bicicleta: </strong>{{transporte.bicicleta}}| 
                <a href="{% url 'checkbox:deletar' transporte.id %}">Remover</a>
            </p>
        {% empty %}
            <p>Nenhuma resposta foi encontrada</p>
        {% endfor %}
    </body>
</html>
