<!DOCTYPE html>
<html>
    <head>
        <title>Django Forms: Checkbox</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Django Forms: Checkbox</h1>
        <p></p>
        <fieldset style="width:400px;">
            <legend>Assinatura</legend>
            <form method="POST" action="{% url 'views.enviar' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Enviar</button>
            </form>
        </fieldset>
        <br/>
        <div>
            {% if listar_check %}
                {% for check in listar_check %}
                    <b>E-mail: </b> {{ check.email }}<br>
                    <b>Assinar </b> {{ check.assinar }}<br><br>
                {% endfor %}
            {% endif %}
        </div>
    </body>
</html>
