<!DOCTYPE html>
<html>
    <head>
        <title>08. Checkbox</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Formulário com Checkbox</h1>
        <p></p>
        <fieldset>
            <legend>Formulário Simples</legend>
            <form action="{% url 'd09_adicionar_checkbox.views.enviar' %}" method="POST">
                {% csrf_token %}
                <label for='label'>Label: </label><br>
                <input type='text' id='label' name='label' placeholder="Nome do campo"/><br>
                <input type="submit" id='enviar' name='enviar' value='Enviar'><br>
            </form>
        </fieldset>
        
        {% if listar_checkboxes %}
            {% for checkbox in listar_checkboxes %}
                <input type='checkbox' name='{{forloop.counter}}' id='{{forloop.counter}}' value='{{checkbox.id}}'>
                <label for='{{forloop.counter}}'>{{checkbox.label}}</label><br>
            {% endfor %}
        {% endif %}
        
    </body>
</html>
