<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Template</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Página de template</h1>
        <p>
            Para utilizar o sistema de templates do Djago basta criar uma página HTML básica com a estrutura padrão que 
            será exibida em todas as páginas, por exemplo uma página com cabeçalho e rodapé, e adicionar o trecho de 
            código abaixo no local que o conteúdo será alterado. 
        </p>
        <pre>
            <code>
                {&#37; block conteudo &#37;}{&#37; endblock &#37;}
            </code>
        </pre>
        <p>
            Com o template definido basta criar as demais páginas que herdará este template. Para isso adicione no topo 
            de cada página criada o código <code>{&#37 extends 'template/base.html' &#37}</code>, definido assim o template
            que será herdado. Para o template saber qual conteúdo será mostrado adicione logo após o extends 
            o trecho de código abaixo com o conteúdo da página sem adicionar o cabeçalho e o rodapé novamente.
        </p>
        <pre>
            <code>
                {&#37; block conteudo &#37;}
                    Conteúdo da página
                {&#37; endblock &#37;}
            </code>
        </pre>
        <p>
            <a href="{% url 'index' %}">Index</a>
            <a href="{% url 'pagina' %}">Página</a>
            <a href="{% url 'base' %}">Template Base</a>
        </p>
        {% block conteudo %}
        {% endblock %}
    </body>
</html>
