<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Login Class</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class='row'>
            <!-- Logo -->
            <div class='col-md-12'>
                {% if user.is_authenticated %}
                    Bem vindo usuário {{session_usuario.nome_usuario}}.
                    <p><a href="{% url 'logout' %}">Sair</a></p>
                {% endif %}
            </div>
        </div>
        <div class='row'>
            <h2>Acessando a área restrita com o login {{session_usuario.usuario}}.</h2>
        </div>
    </body>
</html>