<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <title>Login Class</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="row">
            <h1>Acesso ao sistema</h1>
            {{ status }}
            <form method="POST" action="{% url 'login' %}" name="form-login">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <label for='usuario'>Usuário: </label>
                <input type="text" name="username" id="usuario" value="{{ username }}" /><br />
                <label for="senha">Senha: </label>
                <input type="password" name="password" id="senha" value="" /><br />

                <input type="submit" value="Acessar" class="btn btn-primary"/>
            </form>
        </div>
    </body>
</html>

    

            