<!DOCTYPE html>
<html>
    <head>
        <title>Combobox Multi</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Combobox Multi</h1>
        <p></p>
        <fieldset style="width:250px;">
            <form action="{% url 'enviar' %}" method="POST">
                {% csrf_token %}
                <select name='tipo' id='tipo' size='4' multiple>
                   {{html}} 
                </select><br/>
                <input type="submit" id='enviar' name='enviar' value='Enviar'><br>
            </form>
        </fieldset>
        
        {% if listar_combos %}
            {% for combobox in listar_combos %}
                {{combobox.tipo}}<br/>
            {% endfor %}
        {% endif %}
    </body>
</html>
